*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    height: 100vh;
    width: 100%;
    margin:0px auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {
    display: grid;
    border: 2px solid gray;
    grid-template-columns: repeat(3, 170px);
    grid-template-rows: repeat(3, 130px);
  }
  
  .box{
    background-color: #584444;
    justify-content: center;
    align-items: center;
    margin: 2px;
    background-image: url(/Assets/bgc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;

  }

  #box-1,#box-2{
grid-row-start: 1 ;
grid-row-end: 3;
  }
  

  #box-5{
    grid-column-start:3;
    grid-column-end:4;
  }


#box-6{
    grid-column-start:1;
    grid-column-end:3;
    grid-row-start:3 ;
    grid-row-end: 4;
}  